:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --shadow: rgba(131, 166, 210, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--grey-500);
  background-color: var(--white);
  padding-top: 12rem;

  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  text-align: center;
  width: 42rem;
}

.main-heading-1,
.main-heading-2 {
  font-size: 2.8rem;
  line-height: 1.3;
}

.main-heading-1 {
  font-weight: 200;
}

.main-heading-2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.main-info {
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  gap: 2rem;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.848rem 1.697rem -0.622rem var(--shadow);
}

.card-super {
  border-top: 0.3rem solid var(--cyan);
  grid-column: 1;
  grid-row: 2 / span 2;
}

.card-team {
  border-top: 0.3rem solid var(--red);
  grid-column: 2;
  grid-row: 1 / span 2;
}

.card-karma {
  border-top: 0.3rem solid var(--orange);
  grid-column: 2;
  grid-row: 3 / span 2;
}

.card-calc {
  border-top: 0.3rem solid var(--blue);
  grid-column: 3;
  grid-row: 2 / span 2;
}

.card-heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-info {
  color: var(--grey-400);
  margin-bottom: 2rem;
}

.card-img {
  width: 4rem;
  display: block;
  margin-left: auto;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/* Mobile = 384px = 24em */

/******************************************/
/* BELOW 384px (Mobile) */
/******************************************/
@media (max-width: 24em) {
  body {
    padding: 6rem 0;

    display: block;
  }

  .main-header {
    width: 30rem;
  }

  .main-heading-1,
  .main-heading-2 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .main-info {
    width: 28rem;

    font-size: 1.2rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 24rem;
    height: auto;
  }

  .card {
    grid-column: auto;
    grid-row: auto;
  }
}
