:root {
  /* Colors */
  --grey-500: #4d4f62;
  --grey-400: #6a7178;
  --shadow: rgba(131, 166, 210, 0.5);
  --white: #fff;
  --red: #ea5454;
  --cyan: #44d3d2;
  --blue: #549ef2;
  --orange: #fcae4a;

  /* Typography - Font Family */
  --font-family: "Poppins", sans-serif;

  /* Text Preset 1 */
  --tp-1-size: 3.6rem;
  --tp-1-weight: 600;
  --tp-1-line-height: 1.4;
  --tp-1-letter-spacing: 0.25px;

  /* Text Preset 2 */
  --tp-2-size: 3.6rem;
  --tp-2-weight: 200;
  --tp-2-line-height: 1.4;
  --tp-2-letter-spacing: 0.25px;

  /* Text Preset 3 */
  --tp-3-size: 2rem;
  --tp-3-weight: 600;
  --tp-3-line-height: 1.35;

  /* Text Preset 4 */
  --tp-4-size: 1.5rem;
  --tp-4-weight: 400;
  --tp-4-line-height: 1.4;

  /* Text Preset 5 */
  --tp-5-size: 1.3rem;
  --tp-5-weight: 400;
  --tp-5-line-height: 1.6;

  /* Spacing */
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-100: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--grey-500);
  background-color: var(--white);
  min-height: 100vh;
  padding: var(--spacing-300);

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  text-align: center;
  width: 54rem;
}

.main-heading-1 {
  font-size: var(--tp-2-size);
  font-weight: var(--tp-2-weight);
  line-height: var(--tp-2-line-height);
  letter-spacing: var(--tp-2-letter-spacing);
}

.main-heading-2 {
  font-size: var(--tp-1-size);
  font-weight: var(--tp-1-weight);
  line-height: var(--tp-1-line-height);
  letter-spacing: var(--tp-1-letter-spacing);
  margin-bottom: var(--spacing-200);
}

.main-info {
  font-size: var(--tp-4-size);
  font-weight: var(--tp-4-weight);
  line-height: var(--tp-4-line-height);
  margin-bottom: var(--spacing-500);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(4, 12.5rem);
  gap: var(--spacing-400);
}

.card {
  padding: var(--spacing-400);
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem -1.1rem var(--shadow);
}

.card-super {
  border-top: 0.8rem solid var(--cyan);
  grid-column: 1;
  grid-row: 2 / span 2;
}

.card-team {
  border-top: 0.8rem solid var(--red);
  grid-column: 2;
  grid-row: 1 / span 2;
}

.card-karma {
  border-top: 0.8rem solid var(--orange);
  grid-column: 2;
  grid-row: 3 / span 2;
}

.card-calc {
  border-top: 0.8rem solid var(--blue);
  grid-column: 3;
  grid-row: 2 / span 2;
}

.card-heading {
  font-size: var(--tp-3-size);
  font-weight: var(--tp-3-weight);
  line-height: var(--tp-3-line-height);
  margin-bottom: var(--spacing-400);
}

.card-info {
  color: var(--grey-400);
  font-size: var(--tp-5-size);
  font-weight: var(--tp-5-weight);
  line-height: var(--tp-5-line-height);
  margin-bottom: var(--spacing-500);
}

.card-img {
  width: 6.4rem;
  display: block;
  margin-left: auto;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/* Tablet = 768px = 48em */
/* Mobile = 384px = 24em */

/******************************************/
/* BELOW 768px (Tablet) */
/******************************************/
@media (max-width: 48em) {
  .cards {
    display: grid;
    grid-template-rows: repeat(3, 25rem);
    grid-template-columns: repeat(4, 15.7rem);
    gap: var(--spacing-400);
  }
  .card-super {
    border-top: 0.8rem solid var(--cyan);
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .card-team {
    border-top: 0.8rem solid var(--red);
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .card-karma {
    border-top: 0.8rem solid var(--orange);
    grid-row: 3;
    grid-column: 2 / span 2;
  }

  .card-calc {
    border-top: 0.8rem solid var(--blue);
    grid-row: 2;
    grid-column: 3 / span 2;
  }
}

/******************************************/
/* BELOW 384px (Mobile) */
/******************************************/
@media (max-width: 24em) {
  body {
    margin: 2rem 0;
  }

  .main-header {
    width: 31.6rem;
  }

  .main-heading-1,
  .main-heading-2 {
    font-size: 2.4rem;
  }

  .main-info {
    margin-bottom: var(--spacing-500);
  }

  .cards {
    grid-template-columns: 31.4rem;
  }

  .card {
    grid-column: auto;
    grid-row: auto;
  }
}
